<div class="jumbotron">
  <h1>こんにちは</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    <p>Simple is better than complex</p>

     <a class="twitter-timeline" href="https://twitter.com/naoko_reeves" data-widget-id="444977113267830784">Tweets by @naoko_reeves</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
</div>
